body{
    font-family: sans-serif;
}

#cadastrar{
text-decoration: none;
color: green;
font-weight: bolder;
}

#editar{
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}

#excluir{
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

#visualizar{
    text-decoration: none;
    color: orange;
    font-weight: bolder;
}

#exit{
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

