body{
    font-family:sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50,50);
}

.btn{
    border-radius: 50px;
    font-weight: bolder;
}

.exit{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

h1{ 
    position: absolute;
    top: 35%;
    left: 41%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

#cadastrar:hover{
    background-color: white;
    border: solid green 2px;
    color: black;
}

#editar:hover{
    background-color: white;
    border: solid blue 2px;
    color: black;
}

#excluir:hover{
    background-color: white;
    border: solid red 2px;
    color: black;
}

#visualizar:hover{
    background-color: white;
    border: solid orange 2px;
    color: black;
}